.container {
    max-width: 42rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.headerImage {
    width: 1.5rem;
    height: 1.5rem;
}

.headerTitle {
    padding-top: 0.2rem;
    font-size: 1rem;
    float: left;
    padding-left: 25px;
    background: url('/images/logo.png') no-repeat left center;
}

.headerTitle a {
    color: #454545;
}

.backToHome {
    margin: 3rem 0 0;
}
