html,
body {
    padding: 0;
    margin: 0;
    font-family: Avenir, 游ゴシック体, YuGothic, 游ゴシック Medium, Yu Gothic, sans-serif;
    color: #454545;
    line-height: 2;
    font-size: 18px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: #2f80ed;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

time {
    color: #999;
}

h5 {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-bottom: 0px;
}
